<body>
  <!-- start-footer-section -->
  <footer class="footer-container">
    <div class="top-footer"></div>
    <div class="footer-tagline1">
      <div>
        <p class="footer-text1">HOME MADE ICE CREAM MADE</p>
      </div>
      <div class="social-links">
        <ul class="social-links-list">
          <li>
            <a
              href="https://www.github.com/"
              target="_blank"
              class="social-icon"
              aria-label="github-link"
            >
              <svg class="footer-icon-svg">
                <use href="/src/images/icons/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.telegram.com/"
              target="_blank"
              class="social-icon"
              aria-label="twitter-link"
            >
              <svg class="footer-icon-svg">
                <use
                  href="/src/images/icons/symbol-defs.svg#icon-telegram"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="social-icon"
              aria-label="facebook-link"
            >
              <svg class="footer-icon-svg">
                <use
                  href="/src/images/icons/symbol-defs.svg#icon-facebook"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-tagline2">
      <div>
        <p class="footer-text2">WITH PASSION</p>
      </div>
      <div>
        <ul class="contact-list">
          <li class="contact">Feel free to contact</li>
          <li>
            <a class="telephone" href="tel:+61 (0) 383 766 284"
              >+61 (0) 383 766 284</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="hr-class">
      <hr class="horizontal-line" />
    </div>
    <div class="copyright">
      <p id="last-row">&copy 2022 - IceCream. All Rights Reserved</p>
    </div>
  </footer>
  <!-- end-footer-section -->
</body>
